{% extends 'aplicacion/index.html' %}

{% block contenido %}
<body class="body_about_me">
    <div class="button_container">
        <div class="about_me_container">
        </div>
    </div>
    <div class="button_container">
        <p class="p_about_me">Soy Sebastian Daniel Blanar, un aspirante a desarrollador web frontend / full stack y estudiante de la Universidad Tecnológica Nacional (tecnicatura superior en programación) y de Coderhouse.<br><br>
    
        Soy argentino y tengo 18 años. Tengo experiencia en desarrollo web con HTML, CSS y Bootstrap, así como también con Python y Django gracias a este curso en Coderhouse. Actualmente, estoy ampliando mis conocimientos en Javascript y considero seguir con React, SQL y otras tecnologías con el objetivo de conseguir un trabajo de tiempo completo en unos meses. Mi meta es convertirme en un desarrollador web full stack, aunque estoy abierto a comenzar como desarrollador web frontend.<br><br>
    
        Estoy muy agradecido por haber participado en este curso y proyecto, tanto con Coderhouse como con la comisión de la que fui parte, incluyendo a los tutores y al profesor Norman Beltrán, que fue excelente en su trabajo. También estoy agradecido con el grupo de compañeros con los que compartí esta experiencia y espero tener el gusto de reencontrarnos en otra ocasión.</p>
    </div>
    
</body>

{% endblock contenido %}
