{% extends "aplicacion/index.html" %}


{% block titulo %}
<h1 class="mb-5">Clientes (formulario)</h1>
{% endblock titulo %}


{% block contenido %}
    
<form action="" method="post">
    {% csrf_token %}
    <!-- Comentario  -->
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Guardar">
</form>

{% endblock contenido %}
    
    <!-- <form action="#">  
    {% csrf_token %}
    <button type="submit" class="btn btn-success logout editar">Si</button>
</form>
<form action="{% url 'clientes' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-success logout">No</button>
</form> -->