{% extends 'aplicacion/index.html' %}
{% block contenido%}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock contenido%}

{% block tabla_empleados %}
<div class="button_container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Dni</th>
                <th>Sueldo</th>
                <th>Acciones</th>
            </tr>
        </thead>
    
        <tbody>
        {% for e in empleados %}
            <tr>
                <td>{{ e.id }}</td>
                <td>{{ e.apellido }}</td>
                <td>{{ e.nombre }}</td>
                <td>{{ e.edad }}</td>
                <td>{{ e.dni }}</td>
                <td>{{ e.sueldo}}</td>
                <td>
                    <a
                    href="{% url 'empleado_update' e.id %}"
                    class="btn editar_tablas"
                    style="--bs-btn-padding-y: .25rem;"
                    ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                    </a>
                    <a
                    href="{% url 'empleado_delete' e.id %}"
                    class="btn borrar_tablas"
                    style="--bs-btn-padding-y: .25rem;"
                    ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    
        </tbody>
    
    </table>
</div>
{% endblock tabla_empleados %}

{% block formulario %}
<div class="button_container">
    <button  id="mostrarFormulario_empleados">Agregar empleado</button>
</div>
<div id="formulario_empleados" style="display: none;">
    <form action="{% url 'empleado_create' %}" method="post">
        {% csrf_token %}
        <table class="tabla_formularios">
            {{form.as_table}}
        </table>
        <div class="form">
            <input class="guardar" type="submit" value="Guardar">
        </div>
    </form>
</div>
<script>
    document.getElementById("mostrarFormulario_empleados").addEventListener("click", function() {
        if (window.location.href.indexOf("{% url 'empleados' %}") == -1) {
            window.location.href = "{% url 'empleados' %}";
        }});
        document.getElementById("mostrarFormulario_empleados").addEventListener("click", function() {
            document.getElementById("formulario_empleados").style.display = "block";
        });
</script>
{% endblock formulario %}
{% block busqueda %}
<form action="{% url 'encontrar_empleados' %}" method="get">
    {% csrf_token %}
    <div class="tabla_formularios">
        <p class="texto_buscar">Ingrese un dato a buscar : <input type="text" name= "buscar" id= "buscar"></p>
    </div>
    <div class="form">
        <input type="submit" value="buscar">
    </div>
</form>
{% endblock busqueda %}