{% extends 'aplicacion/index.html' %}
{% block contenido%}
{% endblock contenido%}
{% block formulario %}
    <div class="button-container">
        <button id="mostrarFormulario">INICIAR SESIÓN</button>
    </div>
    <div id="formulario" style="display: none;">
        <h2>INICIAR SESIÓN</h2>
    
        <form action="{% url 'cliente_form' %}" method="post">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <input type="submit" value="Guardar">
        </form>
    </div>
    <script>
        document.getElementById("mostrarFormulario").addEventListener("click", function() {
            document.getElementById("formulario").style.display = "block";
        });
    </script>
{% endblock formulario %}
