{% extends 'aplicacion/index.html' %}
{% block contenido%}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock contenido%}

{% block tabla_pedidos %}
<div class="button_container">
    <table class="table table-striped table--pedidos">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Productos</th>
                <th>Cantidad</th>
                <th>Ubicación</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
    
        <tbody>
        {% for p in pedidos %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.fecha  | date:"d/m/Y" }}</td>
                <td>{{ p.cliente }}</td>
                <td>{{ p.productos }}</td>
                <td>{{ p.cantidad }}</td>
                <td>{{ p.ubicacion}}</td>
                <td>{{ p.estado}}</td>
                <td>
                    <a
                    href="{% url 'pedido_update' p.id %}"
                    class="btn edit-tables"
                    style="--bs-btn-padding-y: .25rem;"
                    ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                    </a>
                    <a
                    href="{% url 'pedido_delete' p.id %}"
                    class="btn delete-tables"
                    style="--bs-btn-padding-y: .25rem;"
                    ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    
        </tbody>
    
    </table>
</div>
{% endblock tabla_pedidos %}

{% block formulario %}
<div class="button_container">
    <button  id="mostrarFormulario_pedidos">Agregar pedido</button>
</div>
<div id="formulario_pedidos" style="display: none;">
    <form action="{% url 'pedido_create' %}" method="post">
        {% csrf_token %}
        <table class="form-table">
            {{form.as_table}}
        </table>
        <div class="form">
            <input type="submit" value="Guardar">
        </div>
    </form>
</div>
<script>
    document.getElementById("mostrarFormulario_pedidos").addEventListener("click", function() {
        if (window.location.href.indexOf("{% url 'pedidos' %}") == -1) {
            window.location.href = "{% url 'pedidos' %}";
        }});
        document.getElementById("mostrarFormulario_pedidos").addEventListener("click", function() {
            document.getElementById("formulario_pedidos").style.display = "block";
        });
</script>
{% endblock formulario %}
{% block busqueda %}
<form action="{% url 'encontrar_pedidos' %}" method="get">
    {% csrf_token %}
    <div class="form-table">
        <p class="search-text">Ingrese un dato a buscar : <input type="text" name= "buscar" id= "buscar"></p>
    </div>
    <div class="form">
        <input type="submit" value="buscar">
    </div>
</form>
{% endblock busqueda %}