{% extends 'aplicacion/index.html' %}
{% block contenido%}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock contenido%}

{% block tabla_productos %}
<div class="button_container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Marca</th>
                <th>Stock</th>
                <th>Color</th>
                <th>Talla</th>
                <th>Acciones</th>
            </tr>
        </thead>
    
        <tbody>

        {% for p in productos %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.nombre }}</td>
                <td>{{ p.precio }}</td>
                <td>{{ p.marca }}</td>
                <td>{{ p.stock }}</td>
                <td>{{ p.color }}</td>
                <td>{{ p.talla }}</td>
                <td>
                    <a
                    href="{% url 'producto_update' p.id %}"
                    class="btn edit-tables"
                    style="--bs-btn-padding-y: .25rem;"
                    ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                    </a>
                    <a
                    href="{% url 'producto_delete' p.id %}"
                    class="btn delete-tables"
                    style="--bs-btn-padding-y: .25rem;"
                    ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    
        </tbody>
    
    </table> 
</div>
{% endblock tabla_productos%}
{% block formulario %}
<div class="button_container">
    <button  id="mostrarFormularioProductos">Agregar Producto</button>
</div>
    <div id="formulario_productos" style="display: none;">
        <form  action="{% url 'producto_create' %}" method="post">
            {% csrf_token %}
            <table class="form-table">
                {{form.as_table}}
            </table>
            <div class="form">
                <input type="submit" value="Guardar">
            </div>
        </form>
    </div>
{% endblock formulario %}
{% block busqueda %}
<form action="{% url 'encontrar_productos' %}" method="get">
    {% csrf_token %}
    <div class="form-table">
        <p class="search-text">Ingrese un dato a buscar : <input type="text" name= "buscar" id= "buscar"></p>
    </div>
    <div class="form">
        <input type="submit" value="buscar">
    </div>
</form>
{% endblock busqueda %}