{% extends 'aplicacion/index.html' %}
{% block contenido%}
{% endblock contenido%}

{% block tabla_productos %}
<div class="button_container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Marca</th>
                <th>Stock</th>
                <th>Color</th>
                <th>Talla</th>
            </tr>
        </thead>
    
        <tbody>

        {% for p in productos %}
            <tr>
                <td>{{ p.nombre }}</td>
                <td>{{ p.precio }}</td>
                <td>{{ p.marca }}</td>
                <td>{{ p.stock }}</td>
                <td>{{ p.color }}</td>
                <td>{{ p.talla }}</td>
            </tr>
        {% endfor %}
    
        </tbody>
    
    </table> 
</div>
{% endblock tabla_productos%}
{% block formulario %}
<div class="button_container">
    <button  id="mostrarFormulario">Agregar Producto</button>
</div>
    <div id="formulario" style="display: none;">
        <div class="h2_container">
            <h2>AGREGAR PRODUCTO</h2>
        </div>
        <form action="{% url 'producto_form' %}" method="post">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <input type="submit" value="Guardar">
        </form>
    </div>
    <script>
        document.getElementById("mostrarFormulario").addEventListener("click", function() {
            document.getElementById("formulario").style.display = "block";
        });
    </script>
{% endblock formulario %}
