{% extends "aplicacion/index.html" %}


{% block titulo %}
<h1 class="mb-5">Productos</h1>
{% endblock titulo %}


{% block contenido %}
{% load static%}
<section>
    <div class="products-hero">
        <img class="products-hero__img" src="{% static 'assets/img/lightblue.jpg' %}"></img>

    </div> 
</section>
<section>
    <div class="button_container">
        <h2 class="products__adidas">NIKE</h2>
    </div>
    
    <div class="product-card_container">
        <div class="product-card">
            <img src="{% static 'assets/img/nike_sb-dunk-high.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Nike SB Dunk High</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        <div class="product-card">
            <img src="{% static 'assets/img/nike-air-force-1.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Nike Air Force 1</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        <div class="product-card">
            <img src="{% static 'assets/img/nike-air-max.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Nike Air Max</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        <div class="product-card">
            <img src="{% static 'assets/img/nike-air-presto.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Nike Air Presto</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        
        <div class="product-card">
            <img src="{% static 'assets/img/nike-blazer-mid.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Nike Blazer Mid</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        <div class="product-card">
            <img src="{% static 'assets/img/nike-dunk-high-retro.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Nike Dunk High Retro</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        <div class="product-card">
            <img src="{% static 'assets/img/nike-dunk-low.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Nike Dunk Low</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        <div class="product-card">
            <img src="{% static 'assets/img/nike-ice-3.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Nike Ice 3</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        <div class="product-card">
            <img src="{% static 'assets/img/nike-kyrie-5.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Nike Kyrie 5</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        <div class="product-card">
            <img src="{% static 'assets/img/nike-roshe-run.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Nike Roshe Run</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        <div class="product-card">
            <img src="{% static 'assets/img/nike-vapor-max.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Nike Vapor Max</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        <div class="product-card">
            <img src="{% static 'assets/img/nike-zoom-pegasus.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Nike Zoom Pegasus</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        <div class="product-card">
            <img src="{% static 'assets/img/nike-air-max-90.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Nike Air Max 90</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="products-hero">
        <img class="products-hero__img" src="{% static 'assets/img/banner-adidas.jpg
        ' %}"></img>

    </div> 
</section>

<section id="adidas_section">
    <div class="button_container">
        <h2 class="products__adidas">ADIDAS</h2>
    </div>
    
    <div class="product-card_container">
        <div class="product-card">
            <img src="{% static 'assets/img/adidasultraboost-light-23.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Adidas Ultra Boost</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        <div class="product-card">
            <img src="{% static 'assets/img/adidas-alphaboost-v1.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Adidas Alphaboost</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        <div class="product-card">
            <img src="{% static 'assets/img/adidas-terrex-ax4.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Adidas Terrex Ax4</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        <div class="product-card">
            <img src="{% static 'assets/img/adidas-free-hiker-2.0-gore-tex.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Adidas Free Hiker 2.0</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        
        <div class="product-card">
            <img src="{% static 'assets/img/adidas-galaxy-6.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Adidas Galaxy 6</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        <div class="product-card">
            <img src="{% static 'assets/img/adidas-court-jam.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Adidas Court Jam</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        <div class="product-card">
            <img src="{% static 'assets/img/adidas-gazelle-indoor.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Adidas Gazelle Indoor</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        <div class="product-card">
            <img src="{% static 'assets/img/adidas-samba-og.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Adidas Samba Og</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        <div class="product-card">
            <img src="{% static 'assets/img/adidas-forum-low.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Adidas Forum Low</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        <div class="product-card">
            <img src="{% static 'assets/img/adidas-grand-court-2.0-shoes.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Adidas Grand Court 2.0</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        <div class="product-card">
            <img src="{% static 'assets/img/adidas-swift-run-2.0-shoes.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Adidas Swift Run 2.0</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        <div class="product-card">
            <img src="{% static 'assets/img/adidas-run-80s-shoes.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Adidas Run 80s</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        <div class="product-card">
            <img src="{% static 'assets/img/adidas-rivalry-low-shoes.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Adidas Rivalry Low</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        <div class="product-card">
            <img src="{% static 'assets/img/adidas-racer-tr23.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Adidas Racer Tr23</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        <div class="product-card">
            <img src="{% static 'assets/img/adidas-swift-run-1.0-shoes.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Adidas Swift Run 1.0</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="products-hero">
        <img class="products-hero__img" src="{% static 'assets/img/puma-hero-section.jpg' %}"></img>

    </div> 
</section>

<section>
    <div class="button_container">
        <h2 class="products__adidas">PUMA</h2>
    </div>
    
    <div class="product-card_container">
        <div class="product-card">
            <img src="{% static 'assets/img/puma-infusion.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Puma Infusion</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        <div class="product-card">
            <img src="{% static 'assets/img/puma-lex-nova.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Puma Lex Nova</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>

        <div class="product-card">
            <img src="{% static 'assets/img/puma-pwr-frame.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Puma Power Frame</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        
        <div class="product-card">
            <img src="{% static 'assets/img/puma-pwr-frame-2.0.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Puma Power Frame 2.0</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        <div class="product-card">
            <img src="{% static 'assets/img/puma-training-fuse-3.0.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Puma Training Fuse 3.0</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        <div class="product-card">
            <img src="{% static 'assets/img/puma-nitro-3.0.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Puma Nitro 3.0</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        <div class="product-card">
            <img src="{% static 'assets/img/puma-nitro-2.0.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Puma Nitro 2.0</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        <div class="product-card">
            <img src="{% static 'assets/img/puma-nitro.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Puma Nitro</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
        <div class="product-card">
            <img src="{% static 'assets/img/puma-fuse-hyperwave.png' %}" alt="Nike Dunk Low">
            <div class="product-info">
                <h3>Puma Fuse Hyperwave</h3>
                <p class="price">$100</p>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </div>
</section>
{% endblock contenido %}
