/* -----------------------------------------------------RESET-------------------------------------------------------------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*-----------------------------------------------------GENERALES-------------------------------------------------------------------------------------*/
body {
    font-family: sans-serif;
    background-color: #000;
    background: linear-gradient(#d4d4d4,#454545);
}

html {
    scroll-behavior: smooth;
}

h1 {font-size: 2.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}

button , input,#buy_button{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid #fff;
    color: #000;
    background-color: #fff;
}

button:hover,#buy_button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
#buy_button {
    color: #000;
}

.container{
    max-width: 700px;
    margin: auto;
}

#ctrlbtn1:hover,#ctrlbtn2:hover,#ctrlbtn3:hover,#ctrlbtn4:hover  {
    background-color: transparent;
}
/*Los elementos de acciones*/
i,.editar_tablas,.borrar_tablas {
    color: #f15000;
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    margin-top: -30px;
    height: 0;
    width: 0;
    --bs-btn-padding-x: 0.5rem;
}


/* ABOUT ME */
.body_about_me {
    background:linear-gradient(black,black);
}
.about_me_container {
    height: 1200px;
    width: 1200px;
    background-image: url(../assets/img/peakpx\ \(12\).jpg);
    background-position: center center;
    background-repeat: no-repeat;
    filter: saturate(2);
}
.p_about_me {
    margin-left: 20px;
    margin-right: 20px;
    letter-spacing:3px ;
    margin-top: 30px;
    color: #fff;
}
/*------------------------------HEADER-----------  */
header{
    background-color: rgb(0, 0, 0);
    flex-wrap: wrap;
}

header .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 .white-text {
    color: white;
    font-weight: bold;
    margin-right: -10px;
}
.orange-text {
    color: rgb(255, 199, 0);
    font-weight: bold;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 2px;
}

header div nav a{
    padding: 5px 12px;
    text-decoration: none;
    color: white;
    font-weight: bolder;   
}

header .navigation{
    background-image:
    linear-gradient(0deg,
    rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../assets/img/75496e55be60c1cbf480d6e76bd11ec4.jpg);
    filter: saturate(2);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.logout {
    margin-top: 25px;
    background-color:rgb(219, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 0.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid black;
}
.logout:hover {
    color: #000000;
    background-color: #ffffff;
}
.nombre_usuario {
    color: #ffffff;
    margin-right: 20px;
    margin-bottom: 10px;
}

.editar {
    margin-right: 20px;
    background-color:rgb(0, 44, 219);
    font-size: 0.5em;
} 

/*----------------------------MAIN-----------------------*/
#hero {
    height: 60vh;
    color: white;
    background-image: url("../assets/img/peakpx\ \(1\).jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: saturate(2.5);
    box-shadow: 0 0 10px 0 #000;
}

.button_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 15px;
}

.marcas .img-container {
    margin-top: 30px;
    height: 32vh;
    display: flex;
    justify-items: center;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: saturate(2);
}

#nike {
    background-image:
    linear-gradient(0deg,
    rgba(0, 0, 0, 0.2), rgba(0, 0, 0,0.4 )), 
    url("../assets/img/peakpx\ \(4\).jpg");
    box-shadow: 0 0 10px 0 #000;
}
#adidas{
    background-image:
    linear-gradient(0deg,
    rgba(0, 0, 0, 0.2), rgba(0, 0, 0,0.4 )), 
    url("../assets/img/peakpx\ \(4\).jpg");
    box-shadow: 0 0 10px 0 #000;
}
#puma{
    background-image: 
        linear-gradient(0deg,
        rgba(0, 0, 0, 0.2), rgba(0, 0, 0,0.4 )),
    url("../assets/img/peakpx\ \(4\).jpg");
    box-shadow: 0 0 10px 0 #000;
}

.img-container .img-zapatillas {
    background-image:
    url(../assets/img/custom-nike-dunk-high-by-you-shoes-removebg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#adidas_img {
    background-image: url(../assets/img/adidas-forum-low-white-collegiate-green-gy5835-1-removebg.png);
}
#puma_img {
    background-size: 90%;
    background-image: url(../assets/img/puma-removebg.png);
    margin-top: 13%;
} 

.carousel-item img {
    mask-image: linear-gradient(
        black 80%,
        transparent);
}

.img_div  {
    background-image:
    linear-gradient(0deg,
    rgba(0, 0, 0, 0.8), rgba(0, 0, 0,4 ));
}
h5 {
    font-size: 1em;
    font-weight: bold;
}

/* PAGINA DE PRODUCTOS */
.products-hero {
    display: none;
}

.products-hero__img {
    max-width: 100%;
    height: auto;
}



.product-card_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.product-card {
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: fit-content;
    flex-grow: 1;
    background: linear-gradient(to bottom, #2196f3, #f8fcff);
}
/* #2196f3 #f8fcff  #00b5c6  #001d7b*/

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    width: 40vh;
    height: 40vh;
    display: block;
    filter: saturate(2);
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 15px;
    color: #fff;
    background-color: #0000006f;
    width: 100%;
}
.product-info h3 {
    font-size: 1.5rem;
    font-weight: bold;
}
/* #0000006f */

.product-info .price {
    font-size: 2rem;
    font-weight: bold;
}

.add-to-cart {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #0056b3;
}

.products__adidas {
    color: #fff;
    font-weight: bolder;
}

/*---------------------------------FOOTER------------------------------------  */
footer{
    margin-top: 30px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
footer p {
    font-weight: bold;
    color: white;
}

/* FORMULARIOS Y TABLAS */

.table {
    background-color: aliceblue;
    color: #000000;
    border-spacing: 30px; /* Espacio entre celdas */
}
thead{
    background-color: aliceblue;
    color: #000000;
}
td {
    padding: 8px; /* Añadir espacio interno en las celdas */
}

input {
    background-color: aliceblue;
    color: #000000;
}

.texto_buscar {
    margin-top: 30px;
    font-size: 1.5em;
}
.form {
    display: flex;
    justify-content: center;
    width: 100%;
}
.form input {
    margin-top: 20px;
}
.tabla_formularios {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.tabla_formularios tbody {
    margin-top: 30px;
}
.tabla_formularios label {
    color: #000000;
}

/* MEDIA QUERIES */

@media (min-width: 775px) {
    /* Solo para dispositivos mas grandes */
    body {
        background: linear-gradient(#d4d4d4,#777777); 
        background-position: center center;
        background-repeat: repeat;
        background-size: cover;
    } 
    header .container {
        max-width: none;
        background: #000;
    }
    header nav {
        flex-direction: row;
        justify-content: space-around;
    }
    header .navigation{
        background-image: none;
        background-color: transparent;
        background: linear-gradient(to right,rgb(0, 0, 92),black);
    }
    
    .marcas .img-container {
        height: 60vh;
    }
    h5 {
        margin-bottom: -30px;
    }
    button,#buy_button {
        font-size: 2em;
    }

    footer p{
        font-size: 3em;
    }
    header div nav a{
        padding: 20px 12px;
        margin-right: 20px;
        font-size: 1.5em;
    }
    header div nav a:hover{
        background-color: rgb(0, 0, 150);
        /* color: rgb(255, 199, 0); */
    }
    header h1 {
        font-size: 4em;
    }
    .texto_buscar {
        margin-top: 60px;
    }
    .avatar {
        margin-top: -35%;
    }
    i,.editar_tablas,.borrar_tablas {
        padding-top: 20px;
        height: 2em;
        --bs-btn-padding-x: 1rem;
    }
    h5 {
        font-size: 1.5rem;
    }
    .products-hero {
        display: block;
    }
    @media (max-width: 1200px){
        header .container nav a {
            font-size: 1em;
            padding: 30px 12px;
        }
    }
    @media (max-width: 980px){
        /* Dispositivos tamaño intermedio */
        header .container nav a {
            font-size: 0.8em;
            padding: 30px 5px;
        }
        .editar {
            font-size: 0.35em;
        }
        .logout {
            font-size: 0.35em;
        }
        p {
            font-size: 0.8em;
        }
    }
    
}
@media (max-width: 775px) {
    /* Estilos para pantallas más pequeñas */
    /* Tablas */
    .table th, .table td {
        font-size: 10px;
        padding: 0.5rem 0.2rem;
    }
    .table {
        border-spacing: 10px ;
    }
    /* Header */
    .logout {
        margin-top: 0;
        font-size: 0.8em;
    }
    .nombre_usuario {
        margin-right: 0;
    }
    button , input{
        margin-bottom: 10px;
    }
    .editar {
        margin-right: 0px;
    } 
    .header_container {
        max-width: 775px;
    }
    /* Otras configuraciones específicas */
    .texto_buscar {
        color: #000;
        font-size: 0.6em;
        font-weight: 400;
    }
    .carousel-caption {
        padding-bottom: 0;
        bottom: 0;
    }
    div a .avatar {
        margin-top: -15%;
    }
    .table--pedidos th, .table--pedidos td {
    padding: 2x 2px;
    font-size: 9px;
    }
}
@media (max-width: 340px) {
    h1 {
        font-size: 2em;
    }
}
@media (max-width: 245px) {
    h1 {
        font-size: 1.5em;
    }
}
